<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'west'" style="width: 33%;"></div>
    <div  data-options="region:'center'">
        <div th:id="dcb+${menuId}" class="easyui-panel">
        </div>
        <!--<ul class="king-game-ul">-->
            <!--<li class="king-game-circle king-bg-red king-game-ul-li">1</li>-->
            <!--<li class="king-game-circle king-bg-red king-game-ul-li">12</li>-->
            <!--<li class="king-game-circle king-bg-red king-game-ul-li">13</li>-->
            <!--<li class="king-game-circle king-bg-red king-game-ul-li">14</li>-->
        <!--</ul>-->
    </div>
    <div data-options="region:'east'" style="width: 33%;"></div>
</div>

<script>
    $(document).ready(function(){
        API.loadJS({id:'FUNC_' + Frame.getCurId(),url:'js/game/doubleColorBallMgr.js'},function(){
            const doubleColorBallMgr = new DoubleColorBallMgr();
            doubleColorBallMgr.init();
        });
    });
</script>