<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.king.dao.ClientMapper">

    <resultMap type="com.king.sys.Oauth2Client" id="baseResultMap">
        <id column="id" property="id" />
        <result column="client_name" property="clientName" />
        <result column="client_id" property="clientId" />
        <result column="client_secret" property="clientSecret" />
    </resultMap>

    <sql id="baseColumns">id,client_name,client_id,client_secret</sql>

    <select id="findByClientId" resultMap="baseResultMap" parameterType="java.lang.String">
        select <include refid="baseColumns"/> from oauth2_client where client_id = #{clientId,jdbcType=VARCHAR}
    </select>

    <select id="findByClientSecret" resultMap="baseResultMap" parameterType="java.lang.String">
        select <include refid="baseColumns"/> from oauth2_client where client_secret = #{clientSecret,jdbcType=VARCHAR}
    </select>

    <insert id="add" parameterType="com.king.sys.Oauth2Client" keyProperty="id" useGeneratedKeys="true">
        insert into oauth2_client(id,client_name,client_id,client_secret)
        values(#{id,jdbcType=BIGINT},#{clientName,jdbcType=VARCHAR},#{clientId,jdbcType=VARCHAR},#{clientSecret,jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="com.king.sys.Oauth2Client">
        update oauth2_client
        <set>
            <if test="clientName != null and clientName != ''">
                client_name = #{clientName,jdbcType=VARCHAR},
            </if>
            <if test="clientId != null and clientId != ''">
                client_id = #{clientId,jdbcType=VARCHAR},
            </if>
            <if test="clientSecret != null and clientSecret != ''">
                client_secret = #{clientSecret,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="del" parameterType="java.lang.Long">
        delete from oauth2_client where id = #{id,jdbcType=BIGINT}
    </delete>

    <select id="find" parameterType="java.util.Map" resultMap="baseResultMap">
        select <include refid="baseColumns"/> from oauth2_client
    </select>
    <select id="findCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(0) from oauth2_client
    </select>

</mapper>