<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.king.dao.SysResourcesMapper">

    <resultMap type="com.king.sys.SysResource" id="baseResultMap">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="type" property="type" />
        <result column="pid" property="pid" />
        <result column="permission" property="permission" />
    </resultMap>

    <sql id="baseColumns">id,name,url,type,pid,permission</sql>

    <select id="findResourcesByRoleId" resultMap="baseResultMap" parameterType="java.lang.Long">
        select <include refid="baseColumns"/> from sys_resources where id in (select res_id from sys_role_resources where role_id = #{roleId,jdbcType=BIGINT})
    </select>


</mapper>