<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.king.dao.SysRoleMapper">

    <resultMap type="com.king.sys.SysRole" id="baseResultMap">
        <id column="id" property="id" />
        <result column="name" property="name" />
    </resultMap>

    <sql id="baseColumns">id,name</sql>

    <select id="findByRoleId" resultMap="baseResultMap" parameterType="java.lang.String">
        select <include refid="baseColumns"/> from sys_role where name = #{name,jdbcType=VARCHAR}
    </select>

    <select id="findRolesByUserId" resultMap="baseResultMap" parameterType="java.lang.Long">
        select <include refid="baseColumns"/> from sys_role where id in (select rid from sys_user_role where uid = #{userId,jdbcType=BIGINT})
    </select>

    <insert id="add" parameterType="com.king.sys.SysRole" keyProperty="id" useGeneratedKeys="true">
        insert into sys_role(<include refid="baseColumns"/>) values(#{id,jdbcType=BIGINT},#{name,jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="com.king.sys.SysRole">
      update sys_role
      <set>
          <if test="name != null and name != ''">
              name = #{name,jdbcType=VARCHAR},
          </if>
      </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="del" parameterType="java.lang.Long">
        delete from sys_role where id = #{roleId,jdbcType=BIGINT}
    </delete>

    <select id="find" parameterType="java.util.Map" resultMap="baseResultMap">
        select <include refid="baseColumns"/> from sys_role
    </select>
    <select id="findCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(0) from sys_role
    </select>

    <delete id="delRoleResources" parameterType="java.lang.Long">
        delete from sys_role_resources where role_id = #{roleId}
    </delete>

    <insert id="insertRoleResources" parameterType="java.util.Map">
        insert into sys_role_resources (role_id,res_id) values
        <foreach collection="resourceIds" item="resId" separator=",">
            (#{roleId},#{resId})
        </foreach>
    </insert>

</mapper>