*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Microsoft Yahei",sans-serif;
    list-style: none;
    cursor: default;
}


/*行内块元素*/
input,img {
    margin: 0;
    padding: 0;
    border: 0 none;
    outline-style: none;
    vertical-align: bottom;
}

/*行内元素*/
a,a:active,a:visited{
    /*下划线和颜色*/
    text-decoration: none;
}

table{
    /*边框合并*/
    border-collapse:collapse;
    border-spacing:0;
}

/* 覆盖easyui样式 */
.pannel-header, .pannel-body, .panel-body-noheader{
    border-width: 0;
    border-style: none;
}

/* form表单样式 */
.king-form-layout {
    display: flex;
    padding: 5px 10px;
}

.king-form-layout-item {
    width: 160px;
    height: 60px;
}

.king-form-layout-item label, .king-form-layout-item-btns label{
    display: inline-block;
    width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;
}

.king-form-layout-item-info{
    width: 98%;
    line-height: 30px;
}

.king-form-layout-item-btns{
    margin-top: 2px;
    line-height: 30px;
    text-align: center;
    min-width: 160px;
}

.king-form-layout-item-btns a{
    display: inline-block;
    height: 30px;
}

/* 游戏/娱乐版块 */
.king-game-ul{
    width: 100%;
    height: 100px;
}
.king-game-ul-li{
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-right: 5px;
    color: #FFF;
}
.king-game-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.king-bg-red{
    background-color: red;
}
.king-bg-blue{
    background-color: blue;
}
/* 游戏/娱乐版块 */