<div class="easyui-layout" data-options="fit:true">
    <div class="easyui-layout" data-options="region:'center'">
        <div data-options="region:'center'">
            <table th:id="dg+${menuId.toString()}" class="easyui-datagrid" data-options="fit:true
        ,fitColumns:true
        ,striped:true
        ,rownumbers:true
        ,pagination:true
        ,singleSelect:true">
                <thead>
                <tr>
                    <th data-options="width:100,field:'name',align:'center',halign:'center'" th:text="#{com.king.system.role.name}"></th>
                </tr>
                </thead>
            </table>
        </div>
        <div data-options="region:'south'" style="height: 30%;">
            <form th:id="fm+${menuId.toString()}" class="king-form-layout">
                <input type="hidden" th:id="id+${menuId.toString()}" />
                <div class="king-form-layout-item">
                    <label th:text="#{com.king.system.role.name}"></label>
                    <div class="king-form-layout-item-info">
                        <input th:id="name+${menuId.toString()}" type="text" class="easyui-textbox" style="width: 100%;"/>
                    </div>
                </div>
                <div class="king-form-layout-item-btns">
                    <label></label><!-- 故意这样布局，按钮排下行 -->
                    <div class="king-form-layout-item-btns">
                        <a th:id="save+${menuId.toString()}" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" th:text="#{com.king.system.btn.save}"></a>
                        <a th:id="reset+${menuId.toString()}" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-reload'" th:text="#{com.king.system.btn.reset}"></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div data-options="region:'east'" style="width: 40%;border-left: 1px solid #eee;box-sizing: border-box;">
        <div th:id="tree+${menuId}" class="easyui-tree" data-options="fit:true"></div>
    </div>
</div>

<script>
    $(document).ready(function(){
        API.loadJS({id:'FUNC_' + Frame.getCurId(),url:'js/sys/roleMgr.js'},function(){
            const roleMgr = new RoleMgr();
            roleMgr.init();
        });
    });
</script>